.section-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    h5 {
        text-transform: capitalize;
        font-size: 20px;
        letter-spacing: 0.02cap;
        font-weight: bold;
    }
    p {
        font-size: 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #2a67eb;
        .right-arrow-icon {
            font-size: 20px;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    .sort-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .sort-label {
            color: #747b88;
            font-size: 15px;
        }
        .custom-select-wrapper {
            position: relative;
            .sort-select {
                padding: 0 10px;
                appearance: none;
                background: transparent;
                border: none;
                padding-right: 18px;
                font-size: 15px;
                font-weight: 500;
                color: #2563eb;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                option {
                    color: #2a67eb;
                    background-color: white;
                    font-size: 15px;
                    text-transform: capitalize;
                }
            }
            .arrow {
                position: absolute;
                top: -2px;
                right: -10px;
                pointer-events: none;
                font-size: 20px;
                color: #2a67eb;
            }
        }
    }
}