// Colors
$primary: #007bff;
$secondary: #3c4043;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #fff;
$black: #000;
$error-message: #ff0000;
$button-hover-bck: #f3f3f3bc;
$button-hover: #174ea6;
$button-hover-bck-focus: #4285f4;
$background-color-admin-header: #fff;
$background-color-admin-header-open-navbar: #2759CD;
$background-color-admin-header-item: rgba(0, 0, 122, 0.803);

$text-color: #212529;
$background-color: #ffffff;
$border-color: #dee2e6;

// Font Sizes
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 32px;
$font-xxxl: 40px;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Spacing
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 40px;
$spacing-xxxl: 48px;

// Border Radius
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;
$border-radius-xxl: 24px;
$border-radius-circle: 50%;

//Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;

//Container Width
$container-width-sm: 500px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;
$container-width-xxl: 1320px;