
.search-container {
    padding: 10px ;
    position: relative;
    width: 100%;
    input {
        border: 1px solid #e7e9ed;
        width: 100%;
        outline: none;
        border-radius: 20px;
        padding: 10px 45px;
        font-size: 15px;
        text-align: left;
        &:focus {
            outline: 2px solid #2a67eb;
            outline-offset: 3px;
            box-shadow: 0 0 3px rgba(42, 103, 235, 0.5); /* Fokusda zəif kölgə effekti */
        }
    }
    .search-icon {
        left: 17px;
        color: #a2a9b4;
        top: 17px;
        font-size: 30px;
        position: absolute;
    }
    .x-icon {
        right: 20px;
        color: #2a67eb;
        top: 20px;
        font-size: 20px;
        position: absolute;
    }
}